.header{
    background-color: #131A22;
    display: flex;
    align-items: center;
}
.header__logo{
    width: 100px;
    position: relative;
    object-fit: contain;
    padding: 13px 17px 0 27px;
}
.header__search{
    display: flex;
    flex: 1;
}
.header__searchIntput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__searchIcon{
    padding: 5px;
    height:22px !important;
    background-color:#FEBD69 ;
}